gunicorn
Flask
line-bot-sdk
pymongo
Flask-PyMongo
urllib3
yahoofinancials
dnspython
pandas
pyimgur
Pillow
matplotlib
mpl_finance
yfinance
pandas_datareader
https://github.com/heroku/heroku-buildpack-python
