~ $ heroku buildpacks:add --index 1 heroku/python
~ $ heroku buildpacks:add --index 2 numrut/ta-lib
gunicorn
Flask
line-bot-sdk
pymongo
Flask-PyMongo
urllib3
yahoofinancials
dnspython
pandas
pyimgur
Pillow
matplotlib
mpl_finance
yfinance
pandas_datareader
